<%= notice %>
<center><h2>Listing students</h2>
<table border=1>
  <tr>
    <th>User</th>
    <th>Password</th>
    <th>Role</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Address</th>
    <th>College</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @students.each do |student| %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= student.user %></td>
      <td><%= student.password %></td>
      <td><%= student.role %></td>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <td><%= student.address %></td>
      <td><%= student.college %></td>
      <td><%= student.email %></td>
      <td><%= link_to 'Show', student %></td>
      <td><% if current_user.role == "a"%> <%= link_to 'Edit', edit_student_path(student) %><%end%> </td>
      <td><% if current_user.role == "a"%><%= link_to 'Destroy',student, :method =>:delete, :confirm => 'Are you sure?' %><%end%></td>
    </tr>
  <% end %>
</table>
</center>




