<%= javascript_include_tag "application" %>
<%=form_tag({:controller => "issuedbook", :action => "student_issued_books"}, :method => "post", :class => "nifty_form") do%>

 <%=javascript_tag "
 function getstudentid(){alert('item selected')}"%>

 
  <div class="form_content">
    <% unless notice.nil?%>
      <%=javascript_tag "alert('Book submited successfully')"%>
    <% end %>
      
    <h2 >Select Details Here</h2>
    <div class="field1"> 
      <%= label_tag(:q, "Email:") %>
    </div>
    <div id="email">
     <%=collection_select(:issuedbook, :student_id, student_having_book, :id, :email,{}, html_option={:onchange => 'getstudentid();'})%>
     
    
     
    </div>
    <div class="field2"> 
      <%= label_tag(:q, "Books:") %>      
    </div>
    <div id="password">
      <%unless remaining_books.empty? then%>
        <%=collection_select(:issuedbook, :book_id, issued_book_list, :id, :book_name, :prompt => 'Select Book')%>
      <%else %>
        <%=javascript_tag "alert('No books available for issue')"%>
       <%end%>       
    </div>
    <div id="actions">
      <%= submit_tag("proceed") %>
    </div>
  </div>
<% end%>


